.contact-banner {
  position: relative;
  height: 350px;
  width: 100%;
  background-image: url("../../assets/pageHero_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.content h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  letter-spacing: 1px;
}

.breadcrumb a {
  color: #E09F40;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.breadcrumb span {
  /* text-transform: uppercase; */
  color: #cfcfcf;
}

.wave-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  opacity: 0.5;
}