.subtitle{
  color: #E09F40;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.title{
    text-align: left !important;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.quote-icon {
  width: 34px;
  height: 34px;
  color: #E09F40;
}

.profile-badgeimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-line {
  width: 140px;
  height: 1px;
  background: #cfcfcf;
}

.imgwarrper{
    width: 65vh;
    height: 65vh;
    margin-left: 20% !important;
}

.imgwarrper img{
    border-radius: 50% !important;
}