.rotate {
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about-section {
  padding: 120px 0;
  position: relative;
}

.shape-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 500px;
  width: 420px;
  border-radius: 0 50% 50% 0;
  object-fit: cover;
}

.shape-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 500px;
  width: 430px;
  border-radius: 100rem 0 0 100rem;
  object-fit: cover;
}

.shape-leftside {
  position: absolute;
  left: 22%;
  top: 60px;
  transform: translateY(-50%);
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.shape-rightside {
  position: absolute;
  right: 24%;
  bottom: -60px;
  transform: translateY(-50%);
  height: 150px;
  width: 100px;
  object-fit: cover;
}




.round-wrapper1 {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  height: 340px;
  width: 340px;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
  z-index: 2;
  display: none;  
}

.round-image {
  height: 220px;
  width: 220px;
  object-fit: cover; 
}


.round-wrapper2 {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  height: 340px;
  width: 340px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  z-index: 2;
  display: none;  
}

@media (min-width: 1400px){
  .round-wrapper1 {
    display: flex;        
    align-items: center;
    justify-content: center;
  }
  .round-wrapper2 {
    display: flex;       
    align-items: center;
    justify-content: center;
  }
}

.rotate {
  animation: rotate 28s linear infinite;
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}


.theme-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #E09F40;
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;      
  height: 50%; 
  background-color: #713722; 
  transition: width 0.3s cubic-bezier(.785, .135, .15, .86);
  z-index: -1;
}

.theme-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;       /* start with 0 width */
  height: 50%;   
  background-color: #713722; 
  transition: width 0.3s cubic-bezier(.785, .135, .15, .86);
  z-index: -1;
}

.theme-btn:hover::before {
  width: 100%;   
}

.theme-btn:hover::after {
  width: 100%;   
}

/* .round-img-left{
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  height: 340px;
  width: 340px;
  border-radius: 50%;
} */

/* .round-img-right {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  height: 340px;
  width: 340px;
  border-radius: 50%;
} */