.container {
        max-width: 1084px;
}
.single-food-items{
    padding: 24px 25px 30px;
    margin-top: 140px;
    border-radius: 16px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .3), #fff 63.33%);
    text-align: center;
}

.item-content {
    margin-top: 24px;
}

.single-food-items .item-content h3{
    color: var(--title);
    font-family: var(--title);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.single-food-items .item-content .text {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 16px
}