.slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDownH {
  animation: slideDown 1.2s ease-out forwards;
  animation-delay: 0.8s; 
  opacity: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideLeft {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.9s ease-out;
}

.slideLeft.show {
  opacity: 1;
  transform: translateX(0);
}

.slideRight {
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.9s ease-out;
}

.slideRight.show {
  opacity: 1;
  transform: translateX(0);
}

.slideU {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.9s ease-out;
}

.slideU.show{
  opacity: 1;
  transform: translateY(0px);
}

/* Shap 1 and 2  up down  */
.float-updown {
  animation: floatY 4s ease-in-out infinite;
}

.float-updown-delay {
  animation: floatY 4s ease-in-out infinite;
  animation-delay: 1.5s;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

/* img around */
@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotateCircle 12s linear infinite;
}

/* About home spin */
@keyframes spinSlowha {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slowha {
  animation: spinSlowha 18s linear infinite;
}

@layer components {
  .shape-base {
    @apply absolute object-contain hidden xl:block;
  }

  .shape-sm {
    @apply w-[180px] h-[180px];
  }

  .shape-lg {
    @apply w-[260px] h-[260px];
  }
}

/* TODAY'S DELICIOUS CHIKKI Banner */
@keyframes float-x {
  0% { transform: translateX(0px); }
  50% { transform: translateX(12px); }
  100% { transform: translateX(0px); }
}

@keyframes float-y {
  0% { transform: translateY(0px); }
  50% { transform: translateY(12px); }
  100% { transform: translateY(0px); }
}

.animate-float-x { animation: float-x 4s linear infinite; }
.animate-float-y { animation: float-y 4s linear infinite; }

@keyframes fade-up {
  0% { opacity: 0; transform: translateY(12px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-up {
  animation: fade-up .7s ease forwards;
}

.delay-150 { animation-delay: .15s; }
.delay-300 { animation-delay: .30s; }
.delay-500 { animation-delay: .50s; }

/* cart btn */
.cart-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #E09F40; 
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  display: flex; 
  align-items: center;
  justify-content: center; 
  text-align: center;
  gap: 0.5rem;
  width: 100%;
  transition: color 0.3s ease;
}

.cart-btn::before,
.cart-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #713722; 
  transition: width 0.3s cubic-bezier(.785, .135, .15, .86);
  z-index: -1;
}

.cart-btn::before {
  top: 0;
  left: 0;
}

.cart-btn::after {
  bottom: 0;
  right: 0;
}

.cart-btn:hover::before,
.cart-btn:hover::after {
  width: 100%;
}
/* cart-btn end */