
.slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDownH {
  animation: slideDown 1.2s ease-out forwards;
  animation-delay: 0.8s; 
  opacity: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideLeft {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.9s ease-out;
}

.slideLeft.show {
  opacity: 1;
  transform: translateX(0);
}

.slideRight {
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.9s ease-out;
}

.slideRight.show {
  opacity: 1;
  transform: translateX(0);
}

.slideU {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.9s ease-out;
}

.slideU.show{
  opacity: 1;
  transform: translateY(0px);
}

/* Shap 1 and 2  up down  */
.float-updown {
  animation: floatY 4s ease-in-out infinite;
}

.float-updown-delay {
  animation: floatY 4s ease-in-out infinite;
  animation-delay: 1.5s;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

/* img around */
@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotateCircle 12s linear infinite;
}

/* About home spin */
@keyframes spinSlowha {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slowha {
  animation: spinSlowha 18s linear infinite;
}

@layer components {
  .shape-base {
    @apply absolute object-contain hidden xl:block;
  }

  .shape-sm {
    @apply w-[180px] h-[180px];
  }

  .shape-lg {
    @apply w-[260px] h-[260px];
  }
}
