.slideUp {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDownH {
  animation: slideDown 1.2s ease-out forwards;
  animation-delay: 0.8s; 
  opacity: 0;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideLeft {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.9s ease-out;
}

.slideLeft.show {
  opacity: 1;
  transform: translateX(0);
}

.slideRight {
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.9s ease-out;
}

.slideRight.show {
  opacity: 1;
  transform: translateX(0);
}

.slideU {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.9s ease-out;
}

.slideU.show{
  opacity: 1;
  transform: translateY(0px);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
@keyframes spinSlowh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slowh {
  animation: spinSlowh 18s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3.5s ease-in-out infinite;
}
